/*body {
background-image: url("../img/background2.jpg");
}*/

img {
  width: 250px;
  height: 350px;
  float: right;
}

h3  {
  text-align: center;
  margin-bottom: 25px;
  font-family: Tahoma sans-serif;
  font-weight: bold;
  font-size: 28px;
  border: solid black 2px;
}

h4  {
  font-family: cursive;
  font-weight: bold;
  font-size: 22px;
  color: ;
}

.hobby ol ul li {
  color: blue;
  font-family: Trebuchet;
}

.jumbotron {
  background-image: url("../img/background.jpg");
}

.intro {
  color: ;
  text-shadow: 1px 1px #FEE123;
}

.name {
  color: #FEE123;
  font-style: italic;
  text-shadow: 1px 1px #000000;
}

.dl-style {
  font-family: Arial;
}

.me {
  text-shadow: 2px 2px #FEE123;
}

.list-unstyled li {
  margin-bottom: 5px;
}

.tab {
  text-indent: 40px;
}

li span:only-of-type{
  font-family: Trebuchet sans-serif;
}

.hobby ol li:last-child {
  font-family: fantasy;
}

.info {
  padding: 5px 4px 2px 4px;
}
