 body {
  background: url("../img/background2.webp") no-repeat center center fixed;
  background-size: cover;
}

img {
  width: 250px;
  height: 350px;
  float: right;
}

h3  {
  text-align: center;
  margin-bottom: 25px;
  font-family: Tahoma sans-serif;
  font-weight: bold;
  font-size: 28px;
  border: solid black 2px;
}

h4  {
  font-family: cursive;
  font-weight: bold;
  font-size: 22px;
  color: ;
}

.hobby ol ul li {
  color: #008000;
  font-family: Trebuchet;
}

.jumbotron {
  background-image: url("../img/background.jpg");
}

.intro {
  color: ;
  text-shadow: 1px 1px #FEE123;
}

.name {
  color: #FEE123;
  font-style: italic;
  text-shadow: 1px 1px #000000;
}

.dl-style {
  font-family: Arial;
}

.me {
  text-shadow: 2px 2px #FEE123;
}

.list-unstyled li {
  margin-bottom: 5px;
}

.tab {
  text-indent: 40px;
}

li span:only-of-type{
  font-family: Trebuchet sans-serif;
}

.hobby ol li:last-child {
  font-family: fantasy;
}

.info {
  padding: 5px 4px 2px 4px;
}

.btn {
  display: block;
  margin: auto;
  width: 30%;
}

#ref {
  font-family: Georgia serif;
  color: #666666;
  }

  .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #13274F;
    background-color: #CE1141;
    border-color: #13274F;
}

#hover:hover {
  color: #CE1141;
  background-color: #13274F;
  border-color: #CE1141;
}

#family {
  width: inherit;
  height: inherit;
  float: left;
  border: double black 10px;
  margin-top: 20px;
}
